.restaurant {
  padding: 10px 20px;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);

  &__title {
    font-weight: bold;
  }

  &__distance {
    font-size: 0.95em;
    color: var(--third-ink-color);
  }

  &__icons {
    padding-top: 16px;

    & a {
      margin-right: 24px;
    }
  }

  &-icon {
    color: var(--sec-ink-color);
    font-size: 24px;
  }
}
