.header {
  background: var(--main-fill-color);
  z-index: 1001;
  text-align: center;
  box-shadow: 0 10px 12px -3px rgba(0, 0, 0, .1), 0 5px 5px -3px rgba(0, 0, 0, .04);
  padding: 10px 0;

  &__title {
    height: 40px;
    margin: 0;
  }
}
