.map-container__map {
  width: 100%;
  height: 100%;
}

.element__close {
  text-align: right;
  padding: 10px;
  color: var(--sec-ink-color);
}

.element-container {
  position: absolute;
  background: var(--main-fill-color);
  width: 100%;
  bottom: 50px;
  left: 0;
  z-index: 1000;
  box-shadow: 0 -10px 12px -3px rgba(0, 0, 0, 0.1), 0 -5px 5px -3px rgba(0, 0, 0, 0.04);
}
